.header {
    height: 34vw;
    margin: 30px aut;
    background: url('/pin.png') no-repeat;
    background-size: cover;
    position: relative;
    border-radius: 8px;
    margin-bottom: 20px;
}

.header-contents {
     position: absolute;
     display: flex;
     flex-direction: column;
     align-items: start;
     gap: 1.5vw;
     max-width: 50%;
     bottom: 10%;
     left: 4vw;

     animation: fadeIn 3s;
}

.header-contents h2 {
    font-weight: 500;
    color: black;
    font-size: max(4vw,22px);
}

.header-contents h2 span {
    color: tomato;
}

.header-contents p {
    color: white;
    font-size: 1vw;
}

.header-contents button {
    border: none;
    color: #747474;
    font-weight: 500;
    padding: 1vw 2.3vw;
    background-color: white;
    font-size: max(1vw,13px);
    border-radius: 50px;
    cursor: pointer;
    transition: 0.4s;
}

.header-contents button:hover {
    background-color: tomato;
    color: white;
}

@media (max-width: 1050px) {
    .header-contents {
        max-width: 45%;
    }   
}
@media (max-width: 750px) {
    .header-contents {
        max-width: 65%;
    } 
    .header-contents h2 {
        font-size: max(2vw,14px);
    }
    .header-contents p {
        display: none;
    }
    .header-contents button {
        padding: 1vw 2vw;
        font-size: max(1vw,10px);;
    }
}